<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607423363774-q81st831f7inqmvu2kkdu7f99ld9cees.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607423363774-q81st831f7inqmvu2kkdu7f99ld9cees</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607423363774-ubl8qdgmikjio75io2fiooq7laksjofd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4ek460Q28UDUTjlq3VrglvRzZ5MOamOA</string>
	<key>GCM_SENDER_ID</key>
	<string>607423363774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stumbleApp</string>
	<key>PROJECT_ID</key>
	<string>stumble-175cb</string>
	<key>STORAGE_BUCKET</key>
	<string>stumble-175cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607423363774:ios:a2c95b21c8667eb557bcef</string>
</dict>
</plist>